@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --light-brown: #9a9798;
  --light-brown-60: hsl(340, 1%, 50%);
  --light-accent: #637081;
  --bright-gray: #383e48;
  --bg-color: #f3f2f4;
  --text-color: #333;
  --dark: #383e48;
  --danger: #f44336;
  --warning: #e1982e;
  --success: #63a866;
  --white: #f3f2f4;
}

[data-theme="dark"] {
  --bg-color: #23262a;
  --text-color: #f3f2f4;
  --light-brown: #373e48;
  --light-brown-60: hsl(218, 13%, 20%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 1rem;
  width: 1000px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form input {
  position: relative;
  background: none;
  color: var(--text-color);
  border-radius: 0.2rem;
  padding: 0.2rem;
  border: 1px solid var(--text-color);
}

#book-status {
  background: var(--bg-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 0.2rem;
}

.add-book {
  background: var(--light-brown);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}

.add-book:hover {
  box-shadow: 0 5px 1rem rgba(99, 112, 129, 0.5);
}

.add-book:active {
  transform: scale(0.95);
}

table {
  width: 100%;
}

thead {
  background: var(--light-brown);
  color: var(--white);
  border-radius: 1rem;
}

thead tr {
  border-radius: 2rem;
  padding: 1rem 0;
}

tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.status {
  font-size: 0.9rem;
  width: 12ch;
  border-radius: 0.2rem;
  margin: 0 auto;
  padding: 0.5rem;
  cursor: pointer;
}

.status:hover {
  box-shadow: 0 0 1rem rgba(99, 112, 129, 0.3);
}

.table-row {
  position: relative;
  display: grid;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--light-brown);
}

.delete-button {
  position: absolute;
  right: 15px;
  background: var(--danger);
  color: var(--white);
  font-weight: bold;
  border-radius: 0.2rem;
  border: none;
  width:max-content;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.table-row td:first-child {
  max-width: 18ch;
  word-wrap: break-word;
  margin: 0 auto;
}

.table-row td:nth-child(2) {
  max-width: 18ch;
  word-wrap: break-word;
  margin: 0 auto;
}

.theme {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 0.4rem;
  background: var(--dark);
  overflow: hidden;
}

.theme label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  cursor: pointer;
}

#toggle-theme {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

.sun-icon {
  position: absolute;
  transition: transform 500ms ease-in-out;
}

.moon-icon {
  position: absolute;
  transform: translateY(200%);
  transition: transform 500ms ease-in-out;
}

#toggle-theme:checked + label .sun-icon {
  transform: translateY(-200%);
}

#toggle-theme:checked + label .moon-icon {
  transform: translateY(0);
}

.pages {
  cursor: pointer;
}

.pages:hover {
  color: var(--success);
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  form {
    width: 100%;
  }

  .delete-button {
    right: 5px;
  }
}

@media (max-width: 768px) {
  .delete-button {
    left: -15px;
  }
}
